In [3]:
import numpy as np  # biblioteca utilizada para tratar com número/vetores/matrizes
import matplotlib.pyplot as plt  # utilizada para plotar gráficos ao "estilo" matlab
import pandas as pd #biblioteca utilizada para realizar operações sobre dataframes

In [11]:
from google.colab import files  #biblioteca utilizada para carregar os dados para o google colab
uploaded = files.upload()

Saving auto.csv to auto.csv

In [12]:
df_carros = pd.read_csv('auto.csv', sep=",", header=None,na_values="?") #importando o dataset

In [13]:
df_carros.head()

   0      1            2    3    4     5   ...    20     21      22  23  24       25
0   3    NaN  alfa-romero  gas  std   two  ...   9.0  111.0  5000.0  21  27  13495.0
1   3    NaN  alfa-romero  gas  std   two  ...   9.0  111.0  5000.0  21  27  16500.0
2   1    NaN  alfa-romero  gas  std   two  ...   9.0  154.0  5000.0  19  26  16500.0
3   2  164.0         audi  gas  std  four  ...  10.0  102.0  5500.0  24  30  13950.0
4   2  164.0         audi  gas  std  four  ...   8.0  115.0  5500.0  18  22  17450.0

[5 rows x 26 columns]

In [40]:
headers = {0:"Id", 1:"Perca_Normalizada", 2:"Marca", 3:"Tipo_de_Combutivel", 4:"Aspiracao", 5:"Numero_de_Portas", 6:"Carroceria",
7:"Tração", 8:"Localizacao_do_Motor", 9:"Wheel_Base", 10:"Comprimento", 11:"Largura", 12:"Peso", 13:"curb_weight", 14:"tipo_de_Motor",
15:"Numero_de_Cilindros", 16:"Tamanho_do_Motor", 17:"Sistema_de_abastecimento", 18:"Bore", 19:"Stroke", 20:"Compression_ratio", 21:"HorsePower",
22:"Max_RPM", 23:"City_mpg", 24:"highway_mpg", 25:"Preço"}

In [41]:
df_carros.rename(columns=headers,inplace=True)
df_carros.head()

   Id  Perca_Normalizada        Marca  ... City_mpg highway_mpg    Preço
0   3                NaN  alfa-romero  ...       21          27  13495.0
1   3                NaN  alfa-romero  ...       21          27  16500.0
2   1                NaN  alfa-romero  ...       19          26  16500.0
3   2              164.0         audi  ...       24          30  13950.0
4   2              164.0         audi  ...       18          22  17450.0

[5 rows x 26 columns]

In [42]:
df_carros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Id                    205 non-null    int64
 1   Perca_Normalizada     164 non-null    float64
 2   Marca                 205 non-null    object
 3   Tipo_de_Combutivel    205 non-null    object
 4   Aspiracao             205 non-null    object
 5   Numero_de_Portas      203 non-null    object
 6   Carroceria            205 non-null    object
 7   Tração                205 non-null    object
 8   Localizacao_do_Motor  205 non-null    object
 9   Wheel_Base            205 non-null    float64
 10  Comprimento           205 non-null    float64
 11  Largura               205 non-null    float64
 12  Peso                  205 non-null    float64
 13  curb_weight           205 non-null    int64
 14  tipo_de_Motor         205 non-null    object
 15  Numero_de_Cilindros   205 non-null    object
 16  Tamanho_do_Motor      205 non-null    int64
 17  Tipo_de_Combustivel   205 non-null    object
 18  Bore                  201 non-null    float64
 19  Stroke                201 non-null    float64
 20  Compression_ratio     205 non-null    float64
 21  HorsePower            203 non-null    float64
 22  Max_RPM               203 non-null    float64
 23  City_mpg              205 non-null    int64
 24  highway_mpg           205 non-null    int64
 25  Preço                 201 non-null    float64
dtypes: float64(11), int64(5), object(10)
memory usage: 41.8+ KB

In [26]:
df_carros.dtypes.eq('object').sum()#conta a quantidade de "object" exixtente no Dataset

10

In [27]:
#Selecionando apenas os dados categoricos 
df_carros_string = df_carros.select_dtypes(include=['object']).copy()#realiza uma copia do dataset apenas para os dados do tipo string
df_carros_string.head()

         Marca Tipo_de_Combutivel  ... Numero_de_Cilindros Tipo_de_Combustivel
0  alfa-romero                gas  ...                four                mpfi
1  alfa-romero                gas  ...                four                mpfi
2  alfa-romero                gas  ...                 six                mpfi
3         audi                gas  ...                four                mpfi
4         audi                gas  ...                five                mpfi

[5 rows x 10 columns]

In [28]:
df_carros_string.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Marca                 205 non-null    object
 1   Tipo_de_Combutivel    205 non-null    object
 2   Aspiracao             205 non-null    object
 3   Numero_de_Portas      203 non-null    object
 4   Carroceria            205 non-null    object
 5   Tração                205 non-null    object
 6   Localizacao_do_Motor  205 non-null    object
 7   tipo_de_Motor         205 non-null    object
 8   Numero_de_Cilindros   205 non-null    object
 9   Tipo_de_Combustivel   205 non-null    object
dtypes: object(10)
memory usage: 16.1+ KB

In [29]:
df_carros_string.isnull().sum()

Marca                   0
Tipo_de_Combutivel      0
Aspiracao               0
Numero_de_Portas        2
Carroceria              0
Tração                  0
Localizacao_do_Motor    0
tipo_de_Motor           0
Numero_de_Cilindros     0
Tipo_de_Combustivel     0
dtype: int64

In [30]:
df_carros_string.dropna(inplace=True)
df_carros_string.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 203 entries, 0 to 204
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Marca                 203 non-null    object
 1   Tipo_de_Combutivel    203 non-null    object
 2   Aspiracao             203 non-null    object
 3   Numero_de_Portas      203 non-null    object
 4   Carroceria            203 non-null    object
 5   Tração                203 non-null    object
 6   Localizacao_do_Motor  203 non-null    object
 7   tipo_de_Motor         203 non-null    object
 8   Numero_de_Cilindros   203 non-null    object
 9   Tipo_de_Combustivel   203 non-null    object
dtypes: object(10)
memory usage: 17.4+ KB

In [31]:
df_carros_string.isnull().sum()

Marca                   0
Tipo_de_Combutivel      0
Aspiracao               0
Numero_de_Portas        0
Carroceria              0
Tração                  0
Localizacao_do_Motor    0
tipo_de_Motor           0
Numero_de_Cilindros     0
Tipo_de_Combustivel     0
dtype: int64

In [32]:
df_carros_string['Numero_de_Cilindros'].value_counts()#conta os valores para cada uma das "classes"

four      157
six        24
five       11
eight       5
two         4
twelve      1
three       1
Name: Numero_de_Cilindros, dtype: int64

In [34]:
#utilizando o dicionario e a função "replace" para transformar em numericos 
mapeamento_classes = {"Numero_de_Portas": {"four" : 4, "two" : 2},"Numero_de_Cilindros": {"four" : 4, "six":6, "five" :5, "eight":8, 
                                                                                         "two" : 2, "twelve" :12, "three" : 3}}

In [35]:
#aplicando a função replace 
df_carros_string.replace(mapeamento_classes, inplace=True)
df_carros_string.head()

         Marca Tipo_de_Combutivel  ... Numero_de_Cilindros  Tipo_de_Combustivel
0  alfa-romero                gas  ...                   4                 mpfi
1  alfa-romero                gas  ...                   4                 mpfi
2  alfa-romero                gas  ...                   6                 mpfi
3         audi                gas  ...                   4                 mpfi
4         audi                gas  ...                   5                 mpfi

[5 rows x 10 columns]

In [43]:
df_carros_string['Carroceria'].value_counts() #conta os valores para cada classe

sedan          94
hatchback      70
wagon          25
hardtop         8
convertible     6
Name: Carroceria, dtype: int64

In [47]:
#utilizando o dicionario e a função "replace" para alterar os dados da coluna 'Carroceria'
mapeamento_classes2 = {"Carroceria": {"sedan" : 'Com_bunda', "hatchback" : 'Sem_Bunda', "wagon" : 'Van', "hardtop" : 'Topo_dificil', "convertible": 'Sem_Teto'}}

In [49]:
df_carros_string.replace(mapeamento_classes2, inplace=True)
df_carros_string.head(20)

          Marca Tipo_de_Combutivel  ... Numero_de_Cilindros  Tipo_de_Combustivel
0   alfa-romero                gas  ...                   4                 mpfi
1   alfa-romero                gas  ...                   4                 mpfi
2   alfa-romero                gas  ...                   6                 mpfi
3          audi                gas  ...                   4                 mpfi
4          audi                gas  ...                   5                 mpfi
5          audi                gas  ...                   5                 mpfi
6          audi                gas  ...                   5                 mpfi
7          audi                gas  ...                   5                 mpfi
8          audi                gas  ...                   5                 mpfi
9          audi                gas  ...                   5                 mpfi
10          bmw                gas  ...                   4                 mpfi
11          bmw                gas  ...                   4                 mpfi
12          bmw                gas  ...                   6                 mpfi
13          bmw                gas  ...                   6                 mpfi
14          bmw                gas  ...                   6                 mpfi
15          bmw                gas  ...                   6                 mpfi
16          bmw                gas  ...                   6                 mpfi
17          bmw                gas  ...                   6                 mpfi
18    chevrolet                gas  ...                   3                 2bbl
19    chevrolet                gas  ...                   4                 2bbl

[20 rows x 10 columns]

In [52]:
#aplicando o label encode 
df_carros_string['Carroceria'] = df_carros_string['Carroceria'].astype('category') #Define a coluna 'Carroceria' como categórica
df_carros_string.dtypes

Marca                     object
Tipo_de_Combutivel        object
Aspiracao                 object
Numero_de_Portas           int64
Carroceria              category
Tração                    object
Localizacao_do_Motor      object
tipo_de_Motor             object
Numero_de_Cilindros        int64
Tipo_de_Combustivel       object
dtype: object

In [53]:
#após definir como categorica é possivel realizar o procedimento label encoding
df_carros_string['Carroceria_cat'] = df_carros_string['Carroceria'].cat.codes #aplica a codificação para a coluna "Carroceria" e cria a coluna "Carroceria_cat"
df_carros_string.head()

         Marca Tipo_de_Combutivel  ... Tipo_de_Combustivel  Carroceria_cat
0  alfa-romero                gas  ...                mpfi               2
1  alfa-romero                gas  ...                mpfi               2
2  alfa-romero                gas  ...                mpfi               1
3         audi                gas  ...                mpfi               0
4         audi                gas  ...                mpfi               0

[5 rows x 11 columns]

In [54]:
df_carros_string.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 203 entries, 0 to 204
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Marca                 203 non-null    object
 1   Tipo_de_Combutivel    203 non-null    object
 2   Aspiracao             203 non-null    object
 3   Numero_de_Portas      203 non-null    int64
 4   Carroceria            203 non-null    category
 5   Tração                203 non-null    object
 6   Localizacao_do_Motor  203 non-null    object
 7   tipo_de_Motor         203 non-null    object
 8   Numero_de_Cilindros   203 non-null    int64
 9   Tipo_de_Combustivel   203 non-null    object
 10  Carroceria_cat        203 non-null    int8
dtypes: category(1), int64(2), int8(1), object(7)
memory usage: 16.5+ KB

In [55]:
#aplicando o One Hot encoding
df_carros_string['Tração'].unique()

array(['rwd', 'fwd', '4wd'], dtype=object)

In [56]:
pd.get_dummies(df_carros_string, columns=['Tração']).head()

         Marca Tipo_de_Combutivel Aspiracao  ...  Tração_4wd Tração_fwd Tração_rwd
0  alfa-romero                gas       std  ...           0          0          1
1  alfa-romero                gas       std  ...           0          0          1
2  alfa-romero                gas       std  ...           0          0          1
3         audi                gas       std  ...           0          1          0
4         audi                gas       std  ...           1          0          0

[5 rows x 13 columns]